 
    
/* GALERIE */
    .masonryholder{
    column-count: 4;
    column-gap: .5em;
    max-width: 1600px;
    margin: 0 auto;
    }
 
  .masonryblocks{
    display: inline-block;
    background: #555555;
    padding: .5em; /* INNERER ABSTAND */
    margin: 0 0 .5em;
    width: 100%;
    box-sizing: border-box;
    }
 
    .masonryblocks:hover {

    background: #666666;

    }

  .masonryblocks img{
    width: 100%;
    }
 
  @media screen and (max-width:768px){
    .masonryholder{
      column-count: 1;
    }
    }
 
  @media screen and (min-width:769px){
    .masonryholder{
      column-count: 2;
    }
    }
 
  @media screen and (min-width:1080px){
    .masonryholder{
      column-count: 3;
    }
    }
 
    @media screen and (min-width:1200px){
    .masonryholder{
      column-count: 4;
    }
    }

    @media screen and (min-width:2200px){
    .masonryholder{
      column-count: 5;
    }
    }

    @media screen and (min-width:3200px){
    .masonryholder{
      column-count: 6;
    }
    }

/* GALERIE */
    
